# Django
DJANGO_SECRET_KEY=gdn2+#vjg!zk955lwz5#
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Neon PostgreSQL
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_mYKjEF1bpsH2
DB_HOST=ep-xxxxxxxxxxxxxxxxxxx
DB_PORT=579t

# Brevo
BREVO_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxx
DEFAULT_FROM_EMAIL=xxxxxx@gmail.com

# Groq
GROQ_API_KEY=xxxxxxxxxxxxxxxxx