{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Reset Email Sent</title>
    <link rel="stylesheet" href="{% static 'css/forgotpassword.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="card" style="text-align: center">
        <h2>Check Your Email</h2>
        <p>
          We've sent password reset instructions to your email address.<br />
          If you don't see it, check your spam or promotions folder.
        </p>
        <a href="{% url 'login_page' %}" class="btn">Back to Login</a>
      </div>
    </div>
  </body>
</html>
