{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom Playlist as a List</title>
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="playlist">
      <h2>Custom Playlist</h2>
      <ul id="playlist">
        <li>
          <button
            class="play-button"
            onclick="playSong('playlist/wavess/6 Hz Let go Stress Theta Waves.mp3')"
          >
            <i class="fas fa-play"></i>
          </button>
          Let go of stress
        </li>
        <li>
          <button
            class="play-button"
            onclick="playSong('playlist/wavess/6 Hz Pure Theta Waves 10 Minute Session (1).mp3')"
          >
            <i class="fas fa-play"></i>
          </button>
          Calm your chaos
        </li>
        <li>
          <button
            class="play-button"
            onclick="playSong('playlist/wavess/68 Hz Balance Your Emotions.mp3')"
          >
            <i class="fas fa-play"></i>
          </button>
          Balance your emotion
        </li>
        <li>
          <button
            class="play-button"
            onclick="playSong('playlist/wavess/Deep Theta 4 Hz.mp3')"
          >
            <i class="fas fa-play"></i>
          </button>
          Mind relaxing
        </li>
        <li>
          <button
            class="play-button"
            onclick="playSong('playlist/wavess/Fall Asleep Instantly  Relaxing Music to Reduce Anxiety and Help You Sleep  Meditation  528Hz .mp3')"
          >
            <i class="fas fa-play"></i>
          </button>
          Reduce anxiety
        </li>
        <li>
          <button
            class="play-button"
            onclick="playSong('playlist/wavess/Relaxing Music Bamboo Water Fountain Meditation Music Sleep Music Piano Music Stress Relief Music.mp3')"
          >
            <i class="fas fa-play"></i>
          </button>
          Bamboo Water fountain
        </li>
      </ul>
      <audio id="audioPlayer" controls>
        <source id="audioSource" src="" type="audio/mpeg" />
        <!-- Correct MIME type -->
        Your browser does not support the audio element.
      </audio>
    </div>

    <script>
      const audioPlayer = document.getElementById("audioPlayer");
      const audioSource = document.getElementById("audioSource");

      function playSong(songUrl) {
        audioSource.src = songUrl;
        audioPlayer.load();
        audioPlayer.play();
      }
    </script>
  </body>
</html>
